* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
.row {
    width: 100%;
}

.paragraph {
    border: 1px solid black;
    background-color: rgb(238, 168, 77);
    padding: 2px;
}

.col1 {
    background-color: rgb(255, 255, 255);
    padding-left: 3px; 
    padding-right: 3px;
}

.col2 {
    background-color: rgb(255, 255, 255);
    padding-left: 3px;
    padding-right: 3px;
}

.col3 {
    background-color: rgb(255, 255, 255);
    padding-left: 3px;
    padding-right: 3px;
}

@media (min-width: 992px) {
    .col-lg-3 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-2, .col-md-1
    {
        float: left;
    }

    .col-md-2{
        width: 50%
    }

    .col-md-1 {
        width: 100%;
    }
    
}

@media (max-width: 767px) {
    .col-sm-1 {
        width: 100%
    }
}